body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-size: 20px;
    background: url(imge);
    background-size: cover;
    height:100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0, 0.157);
    border-radius: 10px;
}
.center h1{
    text-align: center;
    color: white;
    border-bottom: 2px solid silver;
}
.center form{
    padding:0 40px;
}
.textfield{
    position:relative;
    margin:30px 0;
    color:#adadad;
    border-bottom: 2px solid #adadad;

}
.textfield:hover{
    color:hsl(0, 0, 83%);
    border-bottom:2px solid white;
     transition:0.5s;

}

.textfield input{
    background:none;
    border:none;
}
.forpass a{
    color:silver;
    text-decoration:none;
    cursor: pointer;
}
.forpass a:hover{
    text-decoration: underline;
    color:rgb(107,107,255);
    transition:0.5s;
}
input[type="submit"]{
    margin: 15px 10px 15px 0 ;
    width: 100%;
    height: 40px;
    border-radius:25px ;
    border:rgb(67, 139, 221);
    background:rgb(67,139,221);
    color:white;
    font-size: 20px;
    font-weight: 700;
    cursor:pointer;
}
input[type="submit"]:hover{
    border:2px solid rgb(67,139,221);
    background:white;
    color:rgb(67,139,221);
}
.signup{
    color:rgb();
    font-size: 20px;
    text-align: center;
    padding:15px 0px;
}
.signup a{
    color:#2691d9;
    text-decoration: none;
}
.signup a:hover{
    text-decoration:none ;
}